:root {
  --light-blue: #a5d7e8;
  --dark-blue: #0b2447;
  --gray-blue: #90adb6;
}

body {
  background-color: #19376d;
  margin: 0;
  /*Had to set the body element margin to 0 to make everything flush/no gap 
  between the top div ui color*/
}

.top-ui,
.score {
  display: flex;
  justify-content: space-evenly;
  color: var(--light-blue);
}

.top-ui {
  gap: 10rem;
  background-color: var(--dark-blue);
}

#winner-annoucement {
  font-size: 48px;
  color: rgb#576CBC;
}

p {
  font-size: 24px;
}

.score {
  gap: 18rem;
  margin-top: 1rem;
}

.game-board {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}

.game-board > div,
.cards > div {
  height: 234px;
  width: 188px;
  border-radius: 10px;

  border-style: solid;
  border-width: 4px;
  border-color: var(--light-blue);
}

.game-board > div {
  background-color: #617880;
  border-color: var(--dark-blue);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 8rem;
}

.cards > div {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards > div:hover {
  background-color: var(--gray-blue);
}

/*The style below will only appear if the class is toggled on in JavaScript*/
.played-cards > div {
  background-color: blue;
}
